body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    background: url('pexels-pixabay-256490.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    background: rgba(255, 255, 255, 0.8); /* Add transparency for readability */
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: auto;
    position: relative; /* Center the form on the page */
    top: 50%;
    transform: translateY(-50%);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px; /* Increased margin for more white space between inputs */
    display: flex;
    flex-direction: column;
}

.input-group label {
    margin-bottom: 5px;
}

.input-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px; /* Larger font size for better readability */
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px; /* Added margin at the top for spacing before the button */
}

button:hover {
    background-color: #45a049;
}
